<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
	<div th:replace="fragments :: nav"></div>
	<div class="container">
		<div th:replace="fragments :: titulo('Meus Pedidos')"></div>
		
		<!-- A grey horizontal navbar with black text that becomes vertical on medium screens -->
		<nav class="navbar navbar-expand-md bg-light navbar-light mb-2">
			
			<!-- Toggler/collapsible Button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#statusNavbar">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<a th:href="@{/pedido/form}" class="btn btn-primary order-md-last">Novo</a>
			<div class="collapse navbar-collapse" id="statusNavbar">
			  <div class="navbar-nav">
				<a class="nav-link" th:classappend="${status} == null ? 'active'" th:href="@{/usuario/pedidos}">Todos</a>
				<a class="nav-link" th:classappend="${status} == 'aguardando' ? 'active'" th:href="@{/usuario/pedidos/aguardando}">Aguardando</a>
				<a class="nav-link" th:classappend="${status} == 'aprovado' ? 'active'" th:href="@{/usuario/pedidos/aprovado}">Aprovado</a>
				<a class="nav-link" th:classappend="${status} == 'entregue' ? 'active'" th:href="@{/usuario/pedidos/entregue}">Entregue</a>
			  </div>
			</div>
		</nav>
		
		<div class="card mb-3" th:each="pedido : ${pagePedido.content}">
			<th:block th:switch="${pedido.status.name()}">
			  <a th:case="AGUARDANDO" th:href="${pedido.urlProduto}" th:text="|#${pedido.id} - ${pedido.nomeProduto}|" class="card-header p-3 bg-primary text-white"></a>
			  <a th:case="APROVADO" th:href="${pedido.urlProduto}" th:text="|#${pedido.id} - ${pedido.nomeProduto}|" class="card-header p-3 bg-info text-white"></a>
			  <a th:case="ENTREGUE" th:href="${pedido.urlProduto}" th:text="|#${pedido.id} - ${pedido.nomeProduto}|" class="card-header p-3 bg-success text-white"></a>
			</th:block>
			<div class="card-body">
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<span class="col-md-6">
								Valor: <span th:if="${pedido.valor} != null" th:text="'R$ ' + ${#numbers.formatDecimal(pedido.valor,3,'POINT',2,'COMMA')}"></span>
							</span>
							<span class="col-md-6">
								Data da entrega: <span th:if="${pedido.dataEntrega} != null" th:text="${#temporals.format(pedido.dataEntrega, 'dd/MM/yyyy')}"></span>
							</span>
						</div>
						<div class="form-group">
						  <label for="descricao">Descrição</label>
						  <textarea class="form-control" id="descricao" rows="3" th:value="${pedido.descricao}" disabled></textarea>
						</div>
					</div>
					<div class="col-md-4">
						<img class="card-img card-img-aspect-ratio" th:src="${pedido.urlImagem}">
					</div>
				</div>
			</div>
			<div class="card-footer d-flex justify-content-end">
			
				<a class="btn btn-info mr-1" th:classappend="${pedido.ofertas.empty} ? 'disabled' " th:href="@{/pedido/{id}/ofertas(id = ${pedido.id})}">Ver ofertas</a>
				
				<!-- Trigger the modal with a button -->
				<a class="btn btn-danger ml-1" th:classappend="${pedido.status.name() != 'AGUARDANDO'} ? 'disabled' "
				type="button" data-toggle="modal" data-target="#modalExcluir"
				data-backdrop="true" th:attrappend="data-id=${pedido.id}">Excluir</a>
				
				<!-- Modal -->
				<div class="modal fade" id="modalExcluir">
				  <div class="modal-dialog modal-dialog-centered">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h4 class="modal-title">Titulo</h4>
			        	<button type="button" class="close" data-dismiss="modal">&times;</button>
				      </div>
				      <div class="modal-body">
				        <p>Deseja realmente remover o pedido?</p>
				      </div>
				      <div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						<a href="#" class="btn btn-primary">Confirmar</a>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
		
		<!-- Pagination -->
		<div class="d-flex justify-content-center justify-content-md-start mb-2">
			<nav th:if="${pagePedido.totalPages > 0}">
			  <ul class="pagination" th:with="currentPage = ${pagePedido.number + 1}">
			    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' ">
			    	<a class="page-link" th:href="${status != null} ? @{/usuario/pedidos/{status}(status = ${status}, page=1)} : @{/usuario/pedidos(page=1)}">Primeiro</a>
			    </li>
			    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' ">
			    	<a class="page-link" th:href="${status != null} ? @{/usuario/pedidos/{status}(status=${status}, page=${currentPage-1})} : @{/usuario/pedidos(page=${currentPage-1})}">&laquo;</a>
			    </li>
			    <li class="page-item active">
			    	<a class="page-link" th:href="${status != null} ? @{/usuario/pedidos/{status}(status=${status}, page=${currentPage})} : @{/usuario/pedidos(page=${currentPage})}" th:text="${currentPage}"></a>
			    </li>
			    <li class="page-item" th:classappend="${currentPage == pagePedido.totalPages} ? 'disabled' ">
			    	<a class="page-link" th:href="${status != null} ? @{/usuario/pedidos/{status}(status=${status}, page=${currentPage+1})} : @{/usuario/pedidos(page=${currentPage+1})}">&raquo;</a>
			    </li>
			    <li class="page-item" th:classappend="${currentPage == pagePedido.totalPages} ? 'disabled' ">
			    	<a class="page-link" th:href="${status != null} ? @{/usuario/pedidos/{status}(status=${status}, page=${pagePedido.totalPages})} : @{/usuario/pedidos(page=${pagePedido.totalPages})}">Último</a>
			    </li>
			  </ul>
			</nav>
		</div>
		
	</div>
	<script>
		// This is to prevent any jQuery code from running before the document is finished loading (is ready).
		$(document).ready(function() {
			$('#modalExcluir').on('show.bs.modal', function (event) {
			  var button = $(event.relatedTarget) // Button that triggered the modal
			  var id = button.data('id') // Extract info from data-* attributes
			  var modal = $(this);
			  modal.find('.modal-title').text('Pedido #' + id)
			  modal.find('.modal-footer a').attr("href", "/pedido/excluir/" + id)
			})
		});
	</script>
</body>
</html>